@import "tailwindcss";

:root {
  --background: #F5EBDD;
  --foreground: #2F2A26;
  --primary: #C89B5E;
  --secondary: #E6D3B3;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-primary: var(--primary);
  --color-secondary: var(--secondary);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #F5EBDD;
    --foreground: #2F2A26;
    --primary: #C89B5E;
    --secondary: #E6D3B3;
  }
}

body {
  background: var(--color-background);
  color: var(--color-foreground);
  font-family: Arial, Helvetica, sans-serif;
}